<ion-view>
  <ion-header-bar align-title="center" class="bar-positive">
    <h1 class="title">DailyHome</h1>
  </ion-header-bar>
  <ion-content>
    <p>account</p>
  </ion-content>
  <ion-footer-bar>
    <div class="tabs-striped tabs-color-assertive">
      <div class="tabs">
      <a class="tab-item active" href="#/account">
        <i class="icon ion-gear-a"></i>
        Settings
      </a>
      <a class="tab-item" href="#/home">
        <i class="icon ion-home"></i>
        Home
      </a>
      <a class="tab-item" href="#/history">
        <i class="icon ion-clock"></i>
        History
      </a>
      </div>
    </div>
  </ion-footer-bar>
</ion-view>
