  <label class="item item-input item-stacked-label" for="address">
    <span class="input-label" >Adresse</span>
    <input type="text" id="address" ng-model="address">
  </label>
  <label class="item item-input item-stacked-label" for="city">
    <span class="input-label">Ville</span>
    <input type="text" id="city" ng-model="ville">
  </label>
  <label class="item item-input item-stacked-label" for="cp">
    <span class="input-label">Code postal</span>
    <input type="number" id="cp" ng-model="cp">
  </label>
