<ion-view>
  <ion-header-bar align-title="center" class="bar-positive">
    <h1 class="title">DailyHome</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <label for="type" class="item item-input item-select">
        <span class="input-label">Type d'activité</span>
        <select name="type" id="type" ng-model="activityType">
          <option value="0">Ménage</option>
          <option value="1">Jardinage</option>
        </select>
      </label>
      <label class="item item-input item-stacked-label" for="date">
        <span class="input-label">Date</span>
        <input type="date" id="date" ng-model="date">
      </label>
      <label class="item item-input item-stacked-label" for="time">
        <span class="input-label">Heure</span>
        <input type="time" id="time" ng-model="time">
      </label>
      <label for="duree" class="item item-input item-select">
        <span class="input-label">Durée</span>
        <select name="duree" id="duree" ng-model="duree">
          <option value="0">1 semaine</option>
          <option value="1">1 mois</option>
          <option value="1">2 mois</option>
          <option value="1">3 mois</option>
          <option value="1">6 mois</option>
          <option value="1">1 an</option>
        </select>
      </label>
      <ion-radio ng-model="addressChoice" ng-value="0">A mon adresse</ion-radio>
      <ion-radio ng-model="addressChoice" ng-value="1" ng-click="displayPopup()">Autre adresse</ion-radio>
      <label class="item item-input item-stacked-label" for="particularity">
        <span class="input-label">Particularité</span>
        <textarea id="particularity" ng-model="particularity"></textarea>
      </label>
    </div>
  </ion-content>
</ion-view>
