<ion-view>
  <ion-header-bar align-title="center" class="bar-positive">
    <h1 class="title">DailyHome</h1>
    <div class="button">
      <a href="#/add" class="button">Add</a>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <div class="card" ng-repeat="mission in missions">
        <div class="item item-divider">
          {{mission.name}}
        </div>
        <div class="item item-text-wrap">
          {{mission.text}}
        </div>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar>
    <div class="tabs-striped tabs-color-assertive">
      <div class="tabs">
        <a class="tab-item" href="#/account">
          <i class="icon ion-gear-a"></i>
          Settings
        </a>
        <a class="tab-item active" href="#/home">
          <i class="icon ion-home"></i>
          Home
        </a>
        <a class="tab-item" href="#/history">
          <i class="icon ion-clock"></i>
          History
        </a>
      </div>
    </div>
  </ion-footer-bar>
</ion-view>
