<ion-view>
  <ion-header-bar align-title="center" class="bar-positive">
    <h1 class="title">DailyHome</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Username</span>
        <input type="text" id="username" ng-model="username">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" id="password" ng-model="password">
      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-positive" ng-click="connexion()">Log in</button>
    </div>
    <hr>
    <div class="padding">
      <div align="center">Or</div>
      <a class="button button-block button-positive" href="#/signIn">Sign in</a>
    </div>
  </ion-content>
</ion-view>
