<ion-view>
  <ion-header-bar align-title="center" class="bar-positive">
    <h1 class="title">DailyHome</h1>
  </ion-header-bar>
  <ion-content>
    <div>
      mission
    </div>
  </ion-content>
</ion-view>
