<ion-view>
  <ion-header-bar align-title="center" class="bar-positive">
    <h1 class="title">DailyHome</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <label for="civility" class="item item-input item-select">
        <span class="input-label">Civility</span>
        <select name="civility" id="civility">
          <option value="0">Mme</option>
          <option value="1">Mlle</option>
          <option value="2">Mre</option>
        </select>
      </label>
      <label class="item item-input item-stacked-label" for="lastName">
        <span class="input-label">Last name</span>
        <input type="text" placeholder="Last name" id="lastName">
      </label>
      <label class="item item-input item-stacked-label" for="firstName">
        <span class="input-label">First name</span>
        <input type="text" placeholder="First name" id="firstName">
      </label>
      <label class="item item-input item-stacked-label" for="birthDate">
        <span class="input-label">Birth date</span>
        <input type="date" id="birthDate" max="{{dateMax}}">
      </label>
      <label class="item item-input item-stacked-label" for="address">
        <span class="input-label">Address</span>
        <input type="text" placeholder="Address" id="address">
      </label>
      <label class="item item-input item-stacked-label" for="cp">
        <span class="input-label">Postal code</span>
        <input type="text" placeholder="Postal code" id="cp">
      </label>
      <label class="item item-input item-stacked-label" for="email">
        <span class="input-label">E-mail</span>
        <input type="email" placeholder="E-mail" id="email">
      </label>
      <label class="item item-input item-stacked-label" for="ps1">
        <span class="input-label">Password</span>
        <input type="email" placeholder="Rewrite password" id="ps1">
      </label>
      <label class="item item-input item-stacked-label" for="ps2">
        <span class="input-label">Rewrite password</span>
        <input type="email" placeholder="Rewrite password" id="ps2">
      </label>
      <label class="item item-input item-stacked-label" for="phone">
        <span class="input-label">Phone number</span>
        <input type="tel" placeholder="Phone number" id="phone">
      </label>
    </div>
    <div class="padding">
      <a class="button button-block button-positive" href="#">Sign in</a>
    </div>
  </ion-content>
</ion-view>
